.vertical-flex {
  padding: 30px 100px 30px 100px;
  text-align: left;
}

.history-header {
  display: grid;
  width: 100%;
  grid-template-columns: 15% 0% 15% 0% 20% 0% 20% 0% 15% 0% 15%;
  text-align: center;
  border-style: solid;
  height: 45px;
  margin-bottom: 20px;
  background-color: #ffb200;
  font-weight: bold;
  filter: drop-shadow(4px 4px 1px #474747);
  align-items: center;
}

.history-row {
    display: grid;
    width: 100%;
    grid-template-columns: 15% 15% 20% 20% 15% 15%;
    text-align: center;
    border-style: solid;
    height: 45px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-weight: bold;
    align-items: center;
  }

@media (max-width: 1000px) {
  .history-header {
    font-size: 70%;
  }
}
