.form {
    padding: 20px;
    background-color: #FFF4CF;
    display: flex;
    align-items: center;
}

.form label {
    margin: 5px 10px 5px 0;
    font-weight: 500;
}

.form input {
    vertical-align: middle;
    margin: 5px 10px 5px 24px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form button {
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
}

.form button:hover {
    background-color: #FFC1B9;
}

.coach-cards {
    display: flex;
    flex-wrap: wrap;
}

