.vertical-flex {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.search-title {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.horizontal-search-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.horizontal-content-flex {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.welcome-quote {
  font: "Roboto";
  font-size: 40px;
  margin: 30px;
  font-weight: bold;
  max-width: 500px;
}

.welcome-quote-small {
  font: "Roboto";
  font-size: 20px;
  font-weight: 400;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-quote {
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.card-button {
  margin: 30px;
}

.netball-img {
  padding: 15px 0 15px 0;
  width: 200px;
  height: 200px;
}
