.vertical-flex {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.horizontal-flex {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome-quote {
  font: "Roboto";
  font-size: 40px;
  margin: 30px;
  font-weight: bold;
  max-width: 500px;
}

.welcome-quote-small {
  font: "Roboto";
  font-size: 20px;
  font-weight: 400;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card-quote {
  font-size: 13px;
  text-align: center;
}

.netball-img {
  padding: 15px 0 15px 0;
  width: 200px;
  height: 200px;
}
