@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFB200;
    padding-left: 5vw;
    padding-right: 5vw;
    position: relative;
    left: 0vw;
    bottom: 0vh;
    border-top: 4px solid;
}

.div1{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.div3{
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
}
.div4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h1{
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 2px 5px 2px;
}
.h2{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 1000;
}

.coachmate-square-logo{
    width: 150px;
    height: 150px;
}