.button {
    font-family: "Roboto";
    background-color: #FFB200;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.6);
    border-style: solid;
    border-color: black;
    border-width: 3px;
    transition: all 0.5s ease 0s;
}

.button:hover {
    background-color: #121212;
    color: white;
}